<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Dashboard</title>
</head>

<header>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('logout') }}"><i class="feather icon-home"></i></a></li>
            <li><a href="{{ url_for('criar_treino') }}">Treino</a></li>
            <li><a href="{{ url_for('evolucao') }}">Evolução</a></li>
            <li><a href="{{ url_for('desafios') }}">Desafios</a></li>
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}"><i class="feather icon-log-out"></i></a></li>
            
        </ul>
    </div>
</header>

<h6></h6>
<body>
    <div class="container-grid">
        <a href="{{ url_for('criar_treino') }}"><div class="card sombra-2xl criar-treino"><h6>Criar treino</h6></div></a>
        <a href="{{ url_for('evolucao') }}"><div class="card sombra-2xl evolucao" ><h6>Evolução</h6></div></a>
        <a href="{{ url_for('desafios') }}"><div class="card sombra-2xl desafios"><h6>Desafios</h6></div></a>
        <a href="{{ url_for('profile', userid=1) }}"><div class="card sombra-2xl perfil"><h6>Perfil</h6></div></a>

    </div>

</body>
<footer>
    <h6 class="color-white">Fale com um de nossos profissionais</h5>
        <div class="grid-profissionais">
            <div class="profissional">
                <h6>
                    <a href="https://wa.me/5551998786274?text=Olá%20Julio%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos." target="_blank">
                    Julio Balestrin
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a href="https://wa.me/5551998786274?text=Olá%20Renato%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos." target="_blank">
                    Renato Cariri
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a href="https://wa.me/5551998786274?text=Olá%20Jorlan%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos." target="_blank">
                    Jorlan all day
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a href="https://wa.me/5551998786274?text=Olá%20Paulo%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos." target="_blank">
                    Paulo Muzy
                    </a>
                </h6>
            </div>
        </div>
    <script>
   document.querySelectorAll('.accordion-details').forEach(details => {
        const content = details.querySelector('.details-content');
        
        details.addEventListener('toggle', (event) => {
            if (details.open) {
                // Fecha todos os outros detalhes
                document.querySelectorAll('.accordion-details').forEach(otherDetails => {
                    if (otherDetails !== details && otherDetails.open) {
                        otherDetails.open = false;
                        otherDetails.querySelector('.details-content').style.maxHeight = 0;
                    }
                });

                // Define a altura máxima para iniciar a animação
                content.style.maxHeight = content.scrollHeight + 'px';
            } else {
                // Retarda a redefinição da altura para permitir a animação de fechamento
                content.style.maxHeight = content.scrollHeight + 'px'; // Inicializa com a altura atual
                setTimeout(() => {
                    content.style.maxHeight = 0;
                }, 10); // Pequeno atraso para permitir a animação
            }
        });

        // Garantir que a altura máxima seja correta quando a página é carregada
        if (details.open) {
            content.style.maxHeight = content.scrollHeight + 'px';
        }
    });
    </script>
</footer>

</html>
